$gray-border-color: #dadada;
$gray-border-thickness: 0.18rem;
$gray-text: #818181;
$background-color: #f6f6f6;
$error-color: rgb(238, 58, 58);
$navbar-height: 6rem;
$teal-dark:                 #123630 !default;
$teal:                      #194b42 !default;
$teal-light:                #329887 !default;
