@import 'variables';

.forbidden {
  width: 100%;
  height: 100%;
  background-image: url("/packages/marvin_mart-vibe-spacecadet/assets/forbidden.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  padding: 15em 0;
  text-align: center;
  text-shadow:
   -1px -1px 0 $teal-dark,
   1px -1px 0 $teal-dark,
   -1px 1px 0 $teal-dark,
   1px 1px 0 $teal-dark;  
}

.not-found-message {

}
