.homepage-banner {
  background-image: url("/banner.jpg");
  background-size:   cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  padding-top: 10rem;
  padding-bottom: 10rem;
}
