.homepage-banner {
  background-image: url("/banner.jpg");
  background-size:   cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.homepage-space-card-price {
  align-self: flex-end;

}
