.send-message-div {
  align-items: center;
  display: flex;
  justify-content: center;
}

.attach-file-div {
  align-items: center;
  display: flex;
}

.empty-modal-footer {
  border-top-style: none;;
}

.alert.bg-teal-light > .text-muted {
  color: rgb(192, 193, 191);
}

.bg-teal-light {
  a.attached-file {
    color: rgb(162, 45, 204);
  }
}

.thread-recipient-img {
  display: inline-block;
  max-width: 4rem;
}
