@import "variables";

$padding: 1.02rem;

.navbar{
  background: rgb(255, 255, 255);
  font-size: 1.2rem;
  // border: none;
  // margin-bottom: 0px !important;
  height: $navbar-height;
}

#navbar-padding-toggler {
  visibility: hidden;
}

.navbar-avatar {
  max-width: 2rem;
  display: inline-block;
}

#navbarUnhide {
  top: $navbar-height;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.nav {
  padding-top:    $padding;
}

.navbar-logo {
  height: $navbar-height;
  margin-top: -1rem;
  padding-top: 0.7rem !important;
  padding-bottom: 0.35rem !important;
}

#navbar-login {
  padding-top: $padding;
}

.navbar-toggler {
  padding: $padding .75rem;
  font-size: 2.5rem;
}

.navbar-input-sm {
  border-color: $teal-light;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}

// .bg-inverse > div > hr {
//   border-color: $teal;
// }
