@import "variables";
.property-banner {
  width: 100%;
  max-height: 30rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.space-tabs {
  background-color: #f6f6f6;
}

#space {
  color: black;
}

.property-details {
  background-color: $gray-border-color;
  border-radius: 0.9rem;
}

.manage-properties {
  min-height: 35rem;
}
