@import "variables";
.property-banner {
  min-width: 100%;
}

.space-tabs {
  background-color: #f6f6f6;
}

#space {
  color: black;
}

.property-details {
  background-color: $gray-border-color;
  border-radius: 0.9rem;
}
