@import "variables";
.property-banner {
  min-width: 100%;
}

.property {
  background-color: #fff;
  border-style: solid;
  border-color: $gray-border-color;
  border-width: 0 $gray-border-thickness 0 $gray-border-thickness;
}

.space-tabs {
  background-color: #f6f6f6;
}

#space {
  color: black;
}

.property-details {
  background-color: #f6f6f6;
  border-radius: 0.9rem;
}
