@import "variables";

.btn.play-button {
  border-style: none;
  // align-self: center;

}

.btn.transcript-button {
  // align-self:
}

.episode-buttons {
  align-items: center;
  display: flex;
}

// .episode-image {
//   align-items: center;
//   display: flex;
// }
