@import "variables";


body {
  background-color: #f6f6f6;
}

.btn-wrap {
  white-space: normal;
}

.boxed {
  border-style: solid;
  border-color: $gray-border-color;
  border-width: $gray-border-thickness;
}

.help-block {
  color: $error-color;
}

.walled {
  border-style: solid;
  border-color: $gray-border-color;
  border-width: 0 $gray-border-thickness 0 $gray-border-thickness;
}
