@import "variables";

.homepage-space-img, .space-card-img {
  height: 20rem;
}

.homepage-space-card {
  min-height: 31rem;
}

.space-thumbnail {
  min-width: 100%
}

.space-tabs {
  min-width: 100%
}

.space-tab-link {
  min-height: 5rem;
}

#space-tabs-heading {
  background-color: #fff;
  color: #f9a108;
}

#space {
  background-color: #fff;
}

.space-details-img {
  min-width: 100%;
}

.unit-price-btn {
  border-width: 0.2rem;
  white-space: normal;
  border-radius: 0.9rem;
}

.unit-active {
  button.unit-price-btn:hover {
    background-color: #797979;
    h5 {
      color: #fff;
    }

    h6 {
      color: #fff;
    }
  }

  button.unit-price-btn, button.unit-price-btn:active {
    border-color: #ffbc00;
    background-color: #fff;
    h5 {
      color: #009987;
    }

    h6 {
      color: #000;
    }

  }

  p.text-muted {
    color: #009987;
  }
}
