@import "variables";
body {
  background-color: #f6f6f6;
}

.btn-wrap {
  white-space: normal;
}

.white-box {
  border-style: solid;
  border-color: $gray-border-color;
  border-width: $gray-border-thickness;
  background-color: #fff;
}
